*{
  margin: 0;
}


html,
body {
  height: 100%;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {

  
  --gray: hsl(240, 9%, 89%);
  display: grid;
  place-items: center;
  
}

main {
  background: url(images/background_novo_rosaazul.svg);
  width: 375px;
  height: 812px;
}

.container {
  max-width: 250px;
  margin: auto auto;
  text-align: center;

  color: var(--gray);

}
.avatar {
  width: 10rem;
  margin: 11rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 30%, 100% 70%, 50% 100%, 0 70%, 0 30%);

}
h1 {
  font-size: 1.45rem;
  color: rgb(247, 246, 244);
  margin: 1.45 auto .5;
}

a {
  color: rgb(247, 246, 244);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.4rem;

  justify-content: center;
}

p {
  color: aliceblue;
  margin: 2rem;
}

ul {
  margin-top: 4rem;

  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
